.panel.panel-primary
  .panel-heading
    %h1
      =@post.title
  .panel-body
    %h6 by #{@post.user.name.camelcase} 
    %h6 #{@post.created_at.in_time_zone(Time.zone="Beijing").to_formatted_s(:db)} #{Time.zone}
    %p #{@post.content}

-if current_user == @post.user
  =link_to "", vote_path(status:'true', post_id:@post), {class:"btn disabled glyphicon glyphicon-thumbs-up"}
-else
  =link_to "", vote_path(status:'true', post_id:@post), {class:"glyphicon glyphicon-thumbs-up"}

%span 
  =@likes
  likes

-if current_user == @post.user
  =link_to "", vote_path(status:'false', post_id:@post), {class:"btn disabled glyphicon glyphicon-thumbs-down"}
-else
  =link_to "", vote_path(status:'false', post_id:@post), {class:"glyphicon glyphicon-thumbs-down"}

%span 
  =@dislikes
  dislikes

%h1 Comments

-@post.comments.each do |comment|
  .panel.panel-danger
    .panel-body 
      #{comment.comment}
      %span.label.label-primary.pull-right 
        -if comment.user.nil?
          Anonymous -- #{comment.created_at}
        -else
          #{comment.user.name.camelcase} -- #{comment.created_at}


=form_for [@post, @post.comments.build] do |comment_form|
  .form-group
    =comment_form.label :comment
    =comment_form.text_area :comment, {class:"form-control"}

  =comment_form.submit "Comment", {class: "btn btn-primary pull-right"}

