!!! 5

%html
  %head
    %title LearningApp
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = stylesheet_link_tag "home", media: "all"
    = stylesheet_link_tag "users", media: "all"
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags 
	  
  %body

  = yield 
